<div class="navbar-wagon">
  <!-- Logo -->
    <h4>Anonwiki</h3>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= link_to "All Articles", articles_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Add", new_article_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

  <!-- Dropdown appearing on mobile only -->

</div>
