<div class="container">
  <div class="row">
<% @articles.each do |article| %>
  <div class="col col-xs-6 col-sm-4">
  <%= link_to article_path(article) do %>
  <div class="card">
  <p><%= article.title %></p>
    </div>
    <% end %>
  </div>
<% end %>
  </div>
</div>
